* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    outline: none;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.650)), url(/img/movieImage.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    background: transparent;
    border: 2px solid white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 750px;
    width: 700px;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: transparent;
    color: white;
}

input:hover {
    background: transparent;
    color: white;
}

button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    background-color: rgb(37, 76, 247);
    color: white;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(31, 55, 160);
}
